# This notebook contains the functions used to disaggregate the price data received from the ETM model for use in the HWP model

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('electricity_price.csv', usecols = ['Price (Euros)'])

In [4]:
df.head()

   Price (Euros)
0           45.0
1           45.0
2           45.0
3           45.0
4           45.0

No A/D required on price data

In [5]:
#df.to_csv('electricity_price_AD.csv',index=False)